<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email template</title>
</head>

<!--
    Parameter:
    [logo] Logo img link
    [subject] Email subject
    [description] Email Description
    [value] Email Value (link or code)
    [date] Email send Datetime
    [company_link][company_name] Link website and Name of company
    [pic] Addition picture link
    [reason]  Email reason:  *Ex"You receive this email when you register for an account at Piano.com"

    Color for Css:
        [color1] background_1 #2eb2d5
        [color2] description #000000
        [color3] value #ffdf01
        [color4] company link text #ffffff
        [color5] company link background #2eb2d5

    -->



<body style="margin: 0; font-family: 'Poppins', sans-serif;caret-color: transparent;text-align: center; justify-content: center; ">
    <div class="box" style=" width: 65vw; height: 100%;">
        <div class="banner" style="width: 100%; height: auto;">

            <!-- Logo img link: [logo]-->
            <img style="overflow: hidden;display:inline-block; border: 0;height: auto; width: 100%; background-color: [color1];"
                 alt=""
                 src="[logo]">
            <!-------------------------->

        </div>
        <div class="content" style="justify-content: center; text-align: center;">

            <!-- Email subject: [subject]-->
            <h1 style="padding-top: 5%;">[subject]</h1>
            <!-------------------------->

            <p style=" line-height:23px; text-align:center">
                <strong>

                    <!-- Email Description: [description]-->
                    <span style="color:[color2]">
                        [description]
                    </span>
                    <!-------------------------->

                </strong>
            </p>

            <!-- Email Value (link or code): [value]-->
            <span style="color:[color3]; font-size: 3.2em;">[value]</span>
            <!-------------------------->
            <!-- Email send Datetime: [date]-->
            <p style=" line-height:23px; text-align:center ;color: grey;"><span>[date]</span></p>
            <!-------------------------->
            <!-- Link and Name of company: [company_link][company_name]-->
            <a style="border-radius: 4px;display: inline-block;font-size: 14px;font-weight: bold;line-height: 24px;padding: 12px 24px 13px 24px;text-align: center;text-decoration: none !important;transition: opacity 0.1s ease-in;color: [color4] !important;box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);background-color: [color5];font-family: sans-serif;"
               href="[company_link]" target="_blank">[company_name]</a>
            <!-------------------------->

        </div>
        <div class="body" style="justify-content: center;text-align: center; ">
            <div style="overflow: hidden;display:inline-block; border: 0;height: auto; width: 100%; ">

                <!-- Addition picture link: [pic]-->
                <img style="width: 80%;height: auto;"
                     src="[pic]">
                <!-------------------------->

            </div>
        </div>
        <div class="footer"
             style="width: 100%; height: auto; background-color: [color5]; padding-top: 5vh;padding-bottom: 10vh;">
            <h2 class="size-28"
                style="padding-top: 5vh;Margin-bottom: 16px;font-style: normal;font-weight: normal;color: [color4];font-size: 24px;line-height: 32px;text-align: center;"
                lang="x-size-28">

                <!-- Some content u can change-->
                <strong>Access to our website</strong>
                <!-------------------------->

            </h2>
            <h2 class="size-15"
                style="Margin-top: 0;Margin-bottom: 16px;font-style: normal;font-weight: normal;color: [color4];font-size: 15px;line-height: 23px;text-align: center;"
                lang="x-size-15">
                <strong>
                    <span style="color: [color4] ">

                        <!-- Some content u can change-->
                        <em>
                            “We’re so excited to have you start your journey here with us!”
                        </em>
                        <!-------------------------->

                    </span>
                </strong>
            </h2>
            <a href="">
                <img style="width: 50%;height: auto; padding-top: 2vh;padding-bottom: 2vh;"
                     src="[logo]">
            </a>
            <div style="color: white; text-align: start;">
                <div style="width: 50%;margin: auto; font-size: 12px;">
                    <p>

                        <!-- Some content u can change-->
                        <span>
                            Piano Co.<br>
                            Can Tho - Viet Nam
                        </span>
                        <!-------------------------->

                    </p>


                    <p>Piano Co.</p>

                    <!-- Email reason: [reason] *Ex"You receive this email when you register for an account at Piano.com"-->
                    <p>[reason]</p>
                    <!-------------------------->

                </div>
            </div>
        </div>
    </div>



</body>

</html>